

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f4f7f3;
    color:#222;
    transition:0.4s;
}

header{
    background:#1b5e20;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

nav h1{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

#darkBtn{
    border:none;
    background:white;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
}

.hero{
    height:100vh;
    background:linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}

.hero h2{
    font-size:4rem;
}

.hero p{
    margin:20px 0;
    font-size:1.2rem;
}

.btn{
    background:#4caf50;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
}

.contador{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:60px 20px;
}

.box{
    background:white;
    padding:30px;
    border-radius:15px;
    min-width:220px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.box h3{
    color:#2e7d32;
    font-size:2.5rem;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:40px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.verde{
    background:#e8f5e9;
}

.galeria{
    padding:80px 10%;
    text-align:center;
}

.imagens{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.imagens img{
    width:350px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
}

.quiz-box{
    background:white;
    padding:40px;
    max-width:600px;
    margin:auto;
    border-radius:15px;
}

.quiz-box button{
    margin:10px;
    padding:12px 20px;
    border:none;
    background:#2e7d32;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.destaque{
    background:#2e7d32;
    color:white;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:40px;
}

.dark{
    background:#121212;
    color:white;
}

.dark .card,
.dark .box,
.dark .quiz-box{
    background:#1e1e1e;
    color:white;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h2{
        font-size:2.3rem;
    }

    .imagens img{
        width:100%;
    }
}