* /* Adições para o Menu de Navegação */
.nav-menu {
    margin-top: 1.5rem;
}

.nav-link {
    color: #a3cda6;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
}
